/**
 * @file
 * @auth donglele
 * @date 2016/12/29
 */
 @import "contractInfo/style";
.module-contract {
  .contract-cont{
      width: $layout-width;
      margin: 0 auto;
    @mixin placeholdercolor($color:#aaa){
        &::-webkit-input-placeholder { /* WebKit browsers */
          color: $color;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: $color;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
          color: $color;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
          color: $color;
        }
      }
      .search-box{
        position: relative;
        width: 700px;
        height: 60px;
        margin: 10px auto 56px;
        >input{
          display: block;
          width: 100%;
          height: 60px;
          padding: 0 30px;
          border: 1px #ccc solid;
          border-radius: 30px;
          font-size: 16px;
          color: #666;
          background: #fff;
          @include placeholdercolor;
          &:hover{
            border: 1px #e5e5e5 solid;
            @include placeholdercolor(#ccc);
          }
          &:focus{
            border: 1px #e5e5e5 solid;
            @include placeholdercolor(#ccc);
          }
        }
        &-btn{
          position: absolute;
          top: 0;
          right: 15px;
          width: 60px;
          height: 60px;
          text-align: center;
          cursor: pointer;
          >.btn-search{

          }
        }
        &-delete{
          position: absolute;
          top: 23px;
          right: 70px;
          width: 14px;
          height: 14px;
        }
      }
    .contract-block{
      width: 100%;
      margin: 20px 0 90px;
      table tbody td:first-child{
        position: relative;
      }
      table td i{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 46px;
        background-color: $color-link;
      }

      table span {
        display: inline-block;
        width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1;
      }
      table tr:hover{
        cursor: pointer;
        //transition: height 2s linear;
        //height: 92px;
        i{
          display: block;
        }
      }
      table tr:nth-child(odd):hover{
        background-color: #f9fbfe;
      }
      table tr:nth-child(even):hover{
        background-color: #eef2f9;
      }
      .tip {
        text-indent: 10px;
        position: relative;
        top: -24px;
        color: #aaa;
        display: inline-block;
        &.nopage{
          position: static;
          margin-top: 24px;
        }
      }
    }
  }
}

