body{
  font-family: HelveticaNeue-Thin;
}
.topbg{
  position: absolute;
  top: 0;
  right: 0;
  height: 607px;
  width: 90%;
  background: url('./img/toubu.png') no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.top-box{
  max-width: 840px;
  margin: 134px auto auto;
  position: relative;
  >img:nth-child(1) {
    position: absolute;
    top: 2px;
    right: -131px;
  }
  >img:nth-child(2) {
    position: absolute;
    top: -60px;
    left: 5px;
  }
  >img:nth-child(3) {
    position: absolute;
    top: -53px;
    right: -7px;
  }
  >img:nth-child(4) {
    position: absolute;
    top: 130px;
    right: -138px;
  }
  >img:nth-child(5) {
    position: absolute;
    top: 110px;
    left: -54px;
  }
  .fstline{
    max-width: 592px;
    margin: auto;
    font-size: 60px;
    font-weight:100;
    color:rgba(255,255,255,1);
    img{
      width: 70px;
    }
    >div{
      display: inline-block;
      position: relative;
      top: -6px;
    }
  }
  .decline1{
    margin-top: 20px;
    font-size:16px;
    font-weight:100;
    color:rgba(255,255,255,1);
    display: flex;
    justify-content: space-between;
    >div{
      width: 262px;
    }
    img{
      width: 70px;
    }
  }
  .decline2{
    font-size:16px;
    font-weight:100;
    color:rgba(255,255,255,1);
    display: flex;
    justify-content: space-between;
    >div{
      width: 262px;
    }
    img{
      width: 70px;
    }
    .decls{
      //float: left;
    }
  }
  .declf,.decrf,.decls,.decrs{
    //float: left;
    >div{
      display: inline-block;
      position: relative;
      top: -29px;
    }
  }
}
.leftbg{
  position: absolute;
  top: 461px;
  left: 0;
  height: 385px;
  width: 133px;
  background-image: url(./img/zbg.png);
  z-index: -1;
}
.rightbg{
  position: absolute;
  top: 754px;
  right: 0;
  height: 302px;
  width: 100px;
  background-image: url(./img/ybg.png);
  z-index: -1;
}
.iptbox{
  max-width: 484px;
  margin: 200px auto auto;
  position: relative;
  .areacode{
    top: -4px !important;
    left: 21px !important;
    font-size: 14px !important;
  }
  .arrow{
    top: -11px !important;
  }
  .getCode{
    font-size: 16px;
    color:rgba(114,17,197,1);
    position: absolute;
    left: 366px;
    bottom: 13px;
    cursor: pointer;
  }
  .getCode-after {
    font-size: 16px;
    color: rgba(204, 204, 204, 1);
    position: absolute;
    right: 37px;
    bottom: 13px;
  }
  .code-box,.addres-box{
    position: relative;
  }
  input{
    box-sizing: border-box;
    width:460px;
    height:48px;
    background:rgba(255,255,255,1);
    border:1px solid #D3CBDA;
    border-radius:8px;
    margin-top: 22px;
    padding-left: 19px;
    font-size: 16px;
    color: #333;
  }
  input::-webkit-input-placeholder { /* WebKit browsers */
    color: #C8C3CC;
    font-weight: 300;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #C8C3CC;
    font-weight: 300;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #C8C3CC;
    font-weight: 300;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #C8C3CC;
    font-weight: 300;
  }
  //input::-webkit-input-placeholder {
  //  color: RGBA(200, 195, 204, 1);
  //  font-weight: 300;
  //  }
  input:focus {
    outline: none !important;
    border: 1px solid #6a10bf;

    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 0px 9px rgba(83, 54, 226, 0.13);
  }
  .correct-img{
    position: absolute;
    right: 37px;
    bottom: 7px;
    width: 36px;
    height: 29px;
  }
  .openob-btn{
    width:240px;
    height:64px;
    margin: 68px auto 108px auto;
    background:linear-gradient(90deg,rgba(125,18,206,1),rgba(87,14,175,1));
    box-shadow:0px 0px 0px rgba(123,18,204,0.14);
    border-radius:32px;
    font-size:16px;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height:64px;
    cursor:pointer;
    background-size: 200% auto !important;
    transition: all 0.1s linear;
    &:hover{
      opacity: 0.7;
      //background-position: right center;
    }
  }
}
.error{
  border: 1px solid #E10000!important;
  border-radius: 8px;
}
.un-err{
  max-height: 0px;
}
.redmsg{
  transition:max-height 0.6s;
  margin-left: 19px;
  margin-top: 6px;
  font-size: 16px;
  color: rgba(225, 0, 0, 1);
  max-height: 100px;
}
@media screen and (max-width:1500px) {
  .top-box{
    margin-top: 66px;
  }
  .topbg{
    top: -110px;
  }
  .iptbox{
    margin-top: 136px;
  }
}
input::-webkit-search-cancel-button{
  display: none;
}
input::-ms-clear{
  display: none;  //去掉IE下input 输入时后面的叉
}