/**
 * @file
 * @auth jinguangguo
 * @date 2016/11/30
 */

[class^="col"] {
    box-sizing: border-box;
}

.col-xs-1 {
    float: left;
    width: 8.333333%;
}

.col-xs-2 {
    float: left;
    width: 16.666667%;
}

.col-xs-3 {
    float: left;
    width: 25%;
}

.col-xs-4 {
    float: left;
    width: 33.333333%;
}

.col-xs-5 {
    float: left;
    width: 41.666667%;
}

.col-xs-6 {
    float: left;
    width: 50%;
}

.col-xs-7 {
    float: left;
    width: 58.333333%;
}

.col-xs-8 {
    float: left;
    width: 66.666667%;
}

.col-xs-9 {
    float: left;
    width: 75%;
}

.col-xs-10 {
    float: left;
    width: 83.333333%;
}

.col-xs-11 {
    float: left;
    width: 91.666667%;
}

.col-xs-12 {
    float: left;
    width: 100%;
}