@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qz7234');
  src:  url('fonts/icomoon.eot?qz7234#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qz7234') format('truetype'),
    url('fonts/icomoon.woff?qz7234') format('woff'),
    url('fonts/icomoon.svg?qz7234#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ABC:before {
  content: "\e900";
}
.icon-allow-down:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-down2:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-arrow-up2:before {
  content: "\e907";
}
.icon-BANK_OTHER:before {
  content: "\e908";
}
.icon-bank:before {
  content: "\e909";
}
.icon-BCM:before {
  content: "\e90a";
}
.icon-BOB:before {
  content: "\e90b";
}
.icon-BOC:before {
  content: "\e90c";
}
.icon-cancel-circle:before {
  content: "\e90d";
}
.icon-CCB:before {
  content: "\e90e";
}
.icon-CEB:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
}
.icon-checkmark:before {
  content: "\e911";
}
.icon-checkmark2:before {
  content: "\e912";
}
.icon-CIB:before {
  content: "\e913";
}
.icon-CITIC:before {
  content: "\e914";
}
.icon-clock:before {
  content: "\e915";
}
.icon-clock1:before {
  content: "\e916";
}
.icon-close:before {
  content: "\e917";
}
.icon-CMB:before {
  content: "\e918";
}
.icon-CMBC .path1:before {
  content: "\e919";
  color: rgb(0, 155, 137);
}
.icon-CMBC .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(44, 80, 130);
}
.icon-CNY:before {
  content: "\e91b";
}
.icon-cwzx:before {
  content: "\e91c";
}
.icon-CZB:before {
  content: "\e91d";
}
.icon-day:before {
  content: "\e91e";
}
.icon-eye-close:before {
  content: "\e91f";
}
.icon-eye-open:before {
  content: "\e920";
}
.icon-finance:before {
  content: "\e921";
}
.icon-g:before {
  content: "\e922";
}
.icon-GDB:before {
  content: "\e923";
}
.icon-GOP:before {
  content: "\e924";
}
.icon-hand:before {
  content: "\e925";
}
.icon-home:before {
  content: "\e926";
}
.icon-homepage:before {
  content: "\e927";
}
.icon-HXB:before {
  content: "\e928";
}
.icon-ICBC:before {
  content: "\e929";
}
.icon-increase:before {
  content: "\e92a";
}
.icon-info:before {
  content: "\e92b";
}
.icon-jydt:before {
  content: "\e92c";
}
.icon-lock:before {
  content: "\e92d";
}
.icon-notification:before {
  content: "\e92e";
}
.icon-person:before {
  content: "\e92f";
}
.icon-plus:before {
  content: "\e930";
}
.icon-price:before {
  content: "\e931";
}
.icon-PSBC:before {
  content: "\e932";
}
.icon-qrcode:before {
  content: "\e933";
}
.icon-recharge-step1:before {
  content: "\e934";
}
.icon-recharge-step2:before {
  content: "\e935";
}
.icon-recharge-step3:before {
  content: "\e936";
}
.icon-record:before {
  content: "\e937";
}
.icon-sfrz:before {
  content: "\e938";
}
.icon-shezhi:before {
  content: "\e939";
}
.icon-SPDB:before {
  content: "\e93a";
}
.icon-success:before {
  content: "\e93b";
}
.icon-technology:before {
  content: "\e93c";
}
.icon-tuichu:before {
  content: "\e93d";
}
.icon-USD .path1:before {
  content: "\e93e";
  color: rgb(63, 163, 255);
}
.icon-USD .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(39, 150, 253);
}
.icon-wdzh:before {
  content: "\e940";
}
.icon-xiaoxi:before {
  content: "\e941";
}
.icon-zfb:before {
  content: "\e942";
}
.icon-zfb2:before {
  content: "\e943";
}
.icon-zichan:before {
  content: "\e944";
}

