<nav class="layout-nav">
    <div class="nav-wrapper fn-clearfix">
        <a class="left" id="logoHref" href="javascript:void(0);">
            <img class="img" src="./img/achain-logo.png" width="120"  alt="logo" id="logo">
        </a>
        <div class="right">
            <div class="menu">
                <ul class="list fn-clearfix">
                    <!--<li class="item">-->
                        <!--{% if page == 'index' %}-->
                            <!--<a data-href="./index.html" class="item-link item-link&#45;&#45;active js-nav home-nav"></a>-->
                        <!--{% else %}-->
                            <!--<a data-href="./index.html" class="item-link js-nav home-nav"></a>-->
                        <!--{% endif %}-->
                    <!--</li>-->

                   <!--  <li class="item">
                        {% if page == 'contract' %}
                        <a data-href="./contract.html" class="item-link item-link--active js-nav contract-nav"></a>
                        {% else %}
                        <a data-href="./contract.html" class="item-link js-nav contract-nav"></a>
                        {% endif %}
                    </li> -->

                   <!--  <li class="item">
                        <a href="https://newforum.achain.com" class="item-link forum-nav"></a>
                    </li> -->

                    <li class="item">
                        <!--{% if page == 'index' %}-->
                            <a data-href="./index.html" class="blockchain-nav item-link item-link--active"></a>
                        <!--{% else %}-->
                            <!--<a data-href="./index.html" class="blockchain-nav item-link"></a>-->
                        <!--{% endif %}-->
                        <div>
                            <!--<span></span>-->
                            <dl>
                                <dd @click="changeMenu('achain')" data-href="achain" class="js-nav"><a><i class="js-selected" style="visibility: visible"></i>Achain浏览器</a></dd>
                                <dd @click="changeMenu('ssc')" data-href="selfsell" class="js-nav"><a><i class="js-selected"></i>SelfSell浏览器</a></dd>
                                <!--<dd><a data-href="./index.html#/ranking/SSC" class="blockchain-ranking-nav js-nav"></a></dd>-->
                            </dl>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="languages">
            <span class="site-lang"></span>
            <dl>
                <dd><a href="javascript:;" class="js-lang" data-lang="cn">中文</a></dd>
                <dd><a href="javascript:;" class="js-lang" data-lang="en">English</a></dd>
            </dl>
        </div> -->
    </div>
</nav>
