{% extends './include/layout.html' %}

{% block title %}Achain 区块链浏览器{% endblock %}

{% block head %}
<link rel="stylesheet" href="./scss/contract.scss">
{% endblock %}

{% block content %}
{% include "./include/nav/nav.html" with {page: "contract"}%}
<router-view :class="window.app.LANG">
    <div class="layout-loading" style="background-color: inherit;">
        <div class="m-loading">
            <div class="rect rect1"></div>
            <div class="rect rect2"></div>
            <div class="rect rect3"></div>
            <div class="rect rect4"></div>
            <div class="rect rect5"></div>
        </div>
    </div>
</router-view>
{% endblock %}

{% block footer %}
{% include "./include/footer/footer.html" %}
{% endblock %}

{% block script %}
<div style="display: none">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261415310'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261415310' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<script src="./dep/bignumber.3.0.1.js"></script>
<script src="./js/contract.js"></script>
{% endblock %}